.contactSlideBG {

  background-color: rgb(28, 27, 39);
}

.contactFormDesign {
  width: 50%;
  height: auto;
}

.commentInputDesign {
  max-height: 15em;
}

@media (max-width: 576px) {
  .contactFormDesign {
    width: 100%;
    height: auto;
  }
}


.errorContactDesign {
color: rgb(240, 65, 65)}

.informationContactForm {
  color: rgb(68, 255, 0);
}