.contactSlideBG {
  height: 100vh;
  background-image: url(../../img/bgTech1.jpg);
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  box-shadow: inset 0 1em 1em -0em #111113;
}

.contactFormDesign {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.54);
}

.commentInputDesign {
  max-height: 15em;
}

@media (max-width: 576px) {
  .contactSlideBG {
    background-size: 200% 100%;
  }

  .contactFormDesign {
    width: 100%;
    height: auto;
  }
}

.errorContactDesign {
  color: rgb(240, 65, 65);
}

.informationContactForm {
  color: rgb(68, 255, 0);
}
