.contactSlideBG {
  min-height: 100vh;
  background-image: url(../../img/bgTech6.webp);
  background-size: 100%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

.contactFormDesign {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.54);
}

.commentInputDesign {
  max-height: 15em;
}

@media (max-width: 576px) {
  .contactSlideBG {
    background-size: 200% 100%;
  }

  .contactFormDesign {
    width: 100%;
    height: auto;
  }
}

.errorContactDesign {
  color: rgb(240, 65, 65);
}

.informationContactForm {
  color: rgb(68, 255, 0);
}
