.registerBackgroundDesign {
  background-color: rgb(255, 230, 184);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.formContainer {
background-color: rgb(222, 222, 222);
border-radius: 0.5em;
}

.registerClaim {
  background: white;
  width: 70%;
  height:auto;
  border-radius: 0.5em;
}

@media (max-width: 576px) {
  .registerClaim {
    height:100%;
  }
}


