.registerBackgroundDesign {
  background: white;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.formContainer {
border-right: rgba(255, 255, 255, 0.309) 0.1em solid;
}

.registerClaim {
  background-color: rgb(19, 33, 111);
  border-radius: 0.5em;
  width: 70%;
}

.imgContainer {
  width: 15em;
  height: 15em;
  background-image: url(../../img/registerImg.png);
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: center;
  border-radius:50%;

}

.registerTextDesign {
  color: white;
  font-size: 150%;
}

@media (max-width: 576px) {
  .registerClaim {
    height:100%;
    width: 100%;
  }
}


