.aboutMeBG {
  min-height: 90vh;
  width: 100%;
}

.techLabel {
  background-color: rgb(255, 255, 255);
  width: 80%;
  min-height: 25em;
  border-radius: 0.3em;
}
.techContentTitle {
  width: 80%;
  height: auto;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 150%;
  font-weight: bold;
}

.techContentDescription {
  width: 100%;
  min-height: 20%;
  text-align: center;
}

.technologyItems {
  min-height: 60%;
  width: 100%;
}

.techItem {
  border-radius: 0.2em;
  font-weight: bold;
}
















.techTitle {
    color: white;
    font-size: 250%;
    font-weight: bold;
    height: 3em;
}

.downloadFilesContainer {
    height: 4em;
}

.fileDownload {
    background-color: red;
    color: white;
    border-radius: 0.5em;
    height: auto;
    padding: 0.5em;
}