.containerHome {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  border: 0;
  background-color: #111113;
  overflow-x: hidden;
  padding-top: 75px;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0em;
}

#aboutme, #CRSProjects {
  background-color: #1b2b51;
}

.buttonHomeContainer {
  height: 8em;
}

.slidePhoto {
  background-color: rgb(17, 17, 19);
  background-image: url("../../img/crsPhoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 40%;
  height: 60vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
}

.slideDescription {
  background-color: rgb(29, 64, 204);
  height: 60vh;
  clip-path: polygon(100% 0%, 0% 0%, 0% 70%, 100% 100%);
}

.homeTitleDesign {
  color: white;
  font-size: 300%;
  display: flex;
  font-weight: bold;

  align-items: center;
  justify-content: center;
  width: 100%;
}
.homeSubtitleDesign {
  color: white;
  font-size: 180%;
}

.logoHomeDesign {
  margin-top: -7em;
  width: 14em;
  height: auto;
  filter: invert(100%);
  cursor: pointer;
  user-select: none;
  
}
.logoHomeDesign:hover {
  transform: scale(1.1);
}
.buttonHomeColor {
  color: white;
}

@media (max-width: 576px) {
  .slidePhoto {
    background-position: 50% 51%;
    background-size: cover;
  }
  .homeSubtitleDesign,
  .homeTitleDesign {
    font-size: 100%;
  }
  .slideDescription,
  .slidePhoto {
    height: 50vh;
  }
  .logoHomeDesign {
    margin-top: -4em;
    width: 50%;
  }
  .containerHome {
    padding-top: 75px;
  }
}

@media (min-width: 1920px) {
  .containerHome {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
