.containerhome {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    padding:1em;
    margin:0;
    border:0;
    background-color: rgb(218, 210, 210);
    flex-direction: column;
    overflow-x: hidden;
  }
  
  