.ButtonDesign {
  height: auto;
  width: auto;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.05em white;
  user-select: none;
}

.ButtonDesign:hover {
  border-radius: 0.5em;
  background-color: #4a7f05;
  transition: 0.1s;
}

.ButtonDesign:active {
  transform: scale(0.9);
}
