.blogBG {
  background-color: rgb(195, 55, 55);
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 75px;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0em;
  width: 100vw;
  color: white;
}

.blogTitle {
  font-size: 200%;
  font-weight: bold;
}
