.registerFormDesign {
  height: 100%;
  width: 100%;
  padding: 0.8em;
  border-radius: 0.5em;
  padding-right: 3em;
  padding-left: 3em;
}
  
.fieldNameDesign {
  color: white;
}

.titleDesign {
  color: rgb(55, 146, 199);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size:2em;
  margin-bottom: 0.5em;

}

.errorMessageDesign {
  color: rgb(255, 200, 0);
  font-weight: bold;
  text-align: center;
}

.errorDataDesign {
  color: rgb(255, 113, 11);
  font-size: 80%;
  font-style: italic;
  text-align: center;
}