.authBackgroundDesign {
  background: white;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding-top:75px;

}

.loginClaim {
  width: 50%;
  background-color: rgb(19, 33, 111);
  border-radius: 0.5em;
}

.registerClaim {
  background-color: rgb(19, 33, 111);
  border-radius: 0.5em;
  width: 70%;
  
}

.imgContainer {
  width: 20em;
  height: 15em;
  background-image: url(../../img/registerImg.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  border-radius:50%;

}

.registerTextDesign {
  color: white;
  font-size: 150%;
}

@media (max-width: 576px) {
  .registerClaim, .loginClaim {
    height:100%;
    width: 100%;
  }
}


