.myProjectsBG {
  width: 100%;
  min-height: 100vh;
}

.projectSlide {
  min-height: 20em;
  width: 65em;
}

.projectImage {
  background-color: rgb(1, 0, 0);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  height: 20em;
  overflow: hidden;
}
.projectTitle {
  font-weight: bold;
  font-size: 150%;
}
.projectDescription {
  background-color: rgb(49, 49, 91);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  min-height: 17em;
  color: white;
  text-align: center;
}

.imgProject {
  width: 105%;
  height: auto;
}

.buttonProject {
  background-color: rgb(201, 4, 4);
  padding-bottom: 0.1em;
}

.imgBackFix {
  width: 108%;
  margin-right: -0.5em;
}
@media (max-width: 576px) {
  .projectSlide {
    width: 80vw;
  }
  .projectImage {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 0em;
    height: 11em;
  }
  .projectDescription {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 0em;
    height: 10em;
    font-size: 90%;
  }
  .projectTitle {
    font-weight: bold;
    font-size: 100%;
  }
}
