.profilePanelBG {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 75px;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0em;
  width: 100vw;
  color: black;
}

.profilePanelTitle {
  font-size: 200%;
  font-weight: bold;
}
.slideProfile {
  min-height: auto;
  width: 50%;
  border-radius: 1em;
  background-color: rgb(77, 130, 112);
}

.profileNavbar {
  background-color: rgb(85, 81, 76);
  color: black;
}
.profileNavbarElement {
  background-color: rgb(151, 168, 162);
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.navLabel {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  user-select: none;
  cursor: pointer;
  border-top: white solid 0.05em;
  border-left: white solid 0.05em;
  border-right: white solid 0.05em;
}

.navItemActive {
  background-color: white;
  font-weight: bold;
}

.myProfileBG {
  background-color: rgb(50, 47, 47);
  border-radius: 0.3em;
min-height: 20em;
}

.buttonsContainer {
    height: 6em;
}

@media (max-width: 576px) {
  .slideProfile {
    width: 100%;
  }
}

