.profilePanelBG {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 75px;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0em;
  width: 100vw;
  color: black;
}

.profilePanelTitle {
  font-size: 200%;
  font-weight: bold;
}
.slideProfile {
  min-height: auto;
  width: 50%;
  border-radius: 1em;
  background-color: rgb(55, 55, 74);
  border: solid 0.1em black;
}

.navLabel {
    color: white;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  user-select: none;
  cursor: pointer;
  border-top: white solid 0.05em;
  border-left: white solid 0.05em;
  border-right: white solid 0.05em;
}

.navItemActive {
  background-color: white;
  font-weight: bold;
  color: black;
}

.profileDataDesign {
  border-bottom: grey 0.01em solid;
  font-size: 120%;
}

.profileDataTitle {
  font-weight: bold;
}

.myProfileBG {
  background-color: rgb(55, 55, 74);
  border-radius: 0.3em;
  min-height: 20em;
  font-size: 110%;
}

.buttonsContainer {
  height: 6em;
}

.updateIcon {
  font-size: 130%;
  color: white;
  user-select: none;
  cursor: pointer;
}

.updateIcon:hover {
  transform: scale(1.3);
}
.profileInputDesign  {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.3em;
    padding: 0.3em;
    text-align: center;
    }

.profileDataBlocked {
border: 0}



@media (max-width: 576px) {
  .slideProfile {
    width: 100%;
  }
  .myProfileBG {
    font-size: 80%;
  }
  .profilePanelTitle {
    font-size: 140%;
  }
}
