.footerBG {
  background-color: rgb(1, 1, 28);
  color: white;
  font-size: 80%;
}

.logoResize {
  width: 2em;
  user-select: none;
  cursor: pointer;
}

.logoResize2 {
  width: 1.7em;
  user-select: none;
  cursor: pointer;
  filter: grayscale(100%) brightness(300%);
}
